/*primer footer*/
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background: black;
    width: 100%;
}

.seccion {
    text-align: center;
    padding: 0 2rem;
    color: white;
}

.icon {
    color: #F97316; /* Color naranja */
    font-size: 2.5rem; /* Tamaño del icono */
}

.title {
    font-weight: bold;
    font-size: 1.25rem; /* Tamaño de la fuente del título */
    margin-top: 1rem; /* Margen superior */
}

.descripcion {
    margin-top: 0.5rem; /* Margen superior */
}
/*segundo footer*/
.contenedor-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #231f20;
    padding: 20px 0;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}

.item {
    text-align: center;
    margin: 0 10px;
    color: #fff;
}

.item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
}

.item p {
    margin-top: 10px;
    font-size: 14px;
}

/*tercer footer*/
.contenedor-final {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    border-top: 2px solid #000;
}

.izquierda {
    text-align: left;
    color:white;
}

.izquierda h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}

.izquierda p {
    margin: 5px 0 0 0;
    font-style: italic;
}

.centro {
    text-align: center;
    flex-grow: 1;
    color:white;
}

.derecha {
    display: flex;
    gap: 10px;
    color:white;
}

.social-icon {
    color: #F97316; /* Color naranja */
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ffb74d; /* Color naranja claro */
}