.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background: black;
    width: 100%;
}

.seccion {
    text-align: center;
    padding: 0 2rem;
    color: white;
}

.icon {
    color: #F97316; /* Color naranja */
    font-size: 2.5rem; /* Tamaño del icono */
}

.title {
    font-weight: bold;
    font-size: 1.25rem; /* Tamaño de la fuente del título */
    margin-top: 1rem; /* Margen superior */
}

.descripcion {
    margin-top: 0.5rem; /* Margen superior */
}
